
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif !important;
    color: #222;
}

.brand-icon {
    color: white !important;
}

.image {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-1 {
    background-image: url("../media/image-1.jpg");
    min-height: 100%;
}

.image-2 {
    background-image: url("../media/image-2.jpg");
    min-height: 450px;
}

.image-3 {
    background-image: url("../media/image-3.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    text-align: center;
    color: #000;
}

.section {
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.section-dark {
    color: #fff;
    background-color: #111
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption a.border {
    background-color: #111;
    color: #fff;
    padding: 22px;
    font-size: 25px;
    letter-spacing: 10px;
}

.contact {
    font-size: 18px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    text-decoration: none;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .image {
      background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 767px) {
    .section {
        padding: 25px 35px;
    }
}
